### react ###
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

**/node_modules
**/node_modules
**/bower_components
**/dist

*.sublime*

psd
thumb
sketch

## next ##
**/.next

### vscode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
.idea

### config file ###
**/.env

### migrations ###
server/src/migrations/**